.card {
    margin: 30px 25px;
    text-align: center;
    border: solid 3px gray;
    border-radius: 2px;
    padding: 10px;
    width: 40%;
}

.card>img {
    width: 20%
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 700px) {
    .card{
        width: 90%;
    }
}

